<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en" dir="ltr">


{% block content %}
  {% include "hospital/main_navbar.html" %}
  <br><br>
    <h3 class="alert alert-success text-center" style="margin-bottom:0px;">About Us !</h3>

  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px; text-align:center;">
    <h1 class="display-4">Hello</h1>
    <p class="lead">A service dedicated to Hospital Admin, Doctor and Patient.</p>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'homepage' %}" role="button">HOME</a>
    </p>
  </div>
  {% include "hospital/footer.html" %}
{% endblock content %}
