<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
{% include 'hospital/main_navbar.html' %}
<div class="login">
    <div class="header">
        <div class="text-center">
            <span class="display-3 glow mt-2">Login</span>
        </div>
    </div>

    <div class="login_form">
        <form action="." method="POST">
            {% csrf_token %}
            <input id="userEmail" type="email" name="userEmail" placeholder= "{{ usertype }}" required/>
            <label for="userEmail">{{ usertype }}</label>
            <input id="admin_pass" type="password" name="userPassword" placeholder="Password" required/>
            <label for="admin_pass">Password</label>
            <input class = "btn btn-outline-success" type="submit" value="Login" name="submit">
        </form>
        <div class="image">
            <img src="{%static image %}" alt="">
        </div>
    </div>
</div>


{% include 'hospital/footer.html' %}
{% endblock content %}